
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 <html>
   <head>
     <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

     <script src="/timeline_js/timeline-api.js?bundle=true" type="text/javascript">
     </script>

     <script type="text/javascript">

var tl;
function onLoad() {

  var eventSource = new Timeline.DefaultEventSource();
  
  var bandInfos = [
    Timeline.createBandInfo({
        showEventText:  true,
        eventSource:    eventSource,
        date:           "<%= (Time.now + 0.35 * 60 * 60).to_s %>",
        width:          "90%",
        timeZone:       -6,
        intervalUnit:   Timeline.DateTime.MINUTE,
        intervalPixels: 25
    }),
    Timeline.createBandInfo({
        overview:       true,
        showEventText:  false,
        trackHeight:    0.5,
        trackGap:       0.2,
        eventSource:    eventSource,
        date:           "<%= (Time.now + 0.05 * 60 * 60).to_s %>",
        width:          "10%",
        intervalUnit:   Timeline.DateTime.HOUR,
        timeZone:       -6,
        intervalPixels: 100
    })
  ];

  bandInfos[1].syncWith = 0;
  bandInfos[1].highlight = true;
  // bandInfos[1].setMinVisibleDate("<%= Time.now.to_s %>");
  tl = Timeline.create(document.getElementById("cron-timeline"), bandInfos);

  var event_data = <%= json %>;
  eventSource.loadJSON(event_data, document.location.href);

}

var resizeTimerID = null;
function onResize() {
    if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
        }, 500);
    }
}

     </script>
   </head>
   <body onload="onLoad();" onresize="onResize();">
     <br/>
     All times in Chicago, US / Central Time Zone (GMT -6).
     <br/>
     <br/>
     <div id="cron-timeline" style="height: 500px; border: 1px solid #aaa"></div>
     <br/>
     <br/>
     Powered by <a href='http://www.simile-widgets.org/wiki/Timeline'>SIMILE Timeline</a> widget.
   </body>
 </html>
